@{
    ViewBag.Title = "ErrorPage";
}
<script src="~/Scripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#errorimg").width($(window).width());
        $("#errorimg").height($(window).height());
    });
</script>

<div>
    <img id="errorimg" src="~/img/404Image.jpg" />
</div>